* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

section {
  /* margin: 1.5em 0; */
}

h1 {
  color: rgb(19, 19, 90);
  text-align: center;
}

.top-container {
  margin: .5em 1em;
}

.title-div {
  font-size: 0.4rem;
  text-transform: capitalize;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  background-color: #607B8F;
  color: white;
}

.header-container .fa-times {
  cursor: pointer;
  color: black;
}

.nav-bar {
  background-color: #fff;
  padding: 1em .5em;
  display: flex;
  justify-content: space-between;
  width: 50%;
  border: solid 1px black;
  position: absolute;
  right: 1em;
  top: 0;
  line-height: 2em;
  
}

.nav-bar ul {
  list-style-type: none;
  text-transform: capitalize;
}

.nav-bar ul a {
  text-decoration: none;
}

.carousel {
  width: 90%;
  height: 50vh;
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  /* position: relative; */
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  text-transform: capitalize;
  margin: .5em 0;
}

main {
  /* padding: .5em .8em; */
}

form input {
  width: 100%;
  padding: .5em;
  margin: .5em 0;
  box-sizing: border-box;
  border: .2px solid #607B8F;
  border-width: 0.1px;
  border-radius: .3em;
}

form label {
  display: block;
}

form input[type="date"] {
  width: 30%;
  /* display: block; */
}

form button {
  font-size: 1rem;
  padding: .5em 1em;
  margin: 1em 0;
  background-color: rgb(20, 20, 63);
  color: orange;
  float: right;
}

form select {
  width: 40%;
  padding: .5em;
  margin: .5em 0;
  box-sizing: border-box;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling on small screens */
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc; /* thin table border */
  min-width: 400px; /* helps maintain readability */
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
}

table thead {
  background-color: rgb(187, 154, 93);
  color: #434E78;

}

table thead th {
  padding: .5em;
}

table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr a {
  padding: 0 1em;
}

.box {
  padding: 1em;
}

.patners {
  background-color: orange;
  padding: .5em 1em;
}

.patners p {
  text-align: center;
  text-transform: capitalize;
  /* padding: 1em 0; */
}

.patners .partners-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.patners .partners-container img {
  width: 50px;
  margin: 1em 0.5em;
}


.footer {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #607B8F;
  color: #f1f1f1;
  height: 15vh;
  text-align: center;
  padding: .5em 0;
}

.footer .footer-content {
  font-size: small;
}

.footer .social-links {
  margin: .5em 0;
}

.footer a {
  margin: 0 1em;
  color: orange;
  font-size: large;
}


